
.description-section {
  margin-top: 1.875rem;
}

.description-section .css-11e8ur2,
.description-section .css-1v2o4tv {
  height: 100%;
}

.description-section div[data-part="content"] {
  height: 500px;
  overflow: auto;
}